@font-face {
  font-family: 'regularText';
  src: url('../fonts/EASPORTS15.ttf');
}

.regularText {
  font-family: 'regularText';
  color: black;
  font-weight: lighter;
}
.lightText {
  color: slategray;
}
