@font-face {
  font-family: 'regularText';
  src: url('./../fonts/Haarlem\ Sans.ttf');
}

@font-face {
  font-family: 'popWarner';
  src: url('./../fonts/Pop\ Warner.ttf');
}

@font-face {
  font-family: 'nflSiteText';
  src: url('../fonts/EASPORTS15.ttf');
}
@media (min-width: 851px) {
  .timeMobileText {
    font-size: 1.5rem;
  }
}
@media (max-width: 850px) {
  .nflSiteTeamText {
    font-size: 1.1rem;
  }
}

@media (max-width: 550px) {
  .atSymbol {
    padding-top: 10%;
  }
}
@media (max-width: 450px) {
  .atSymbol {
    padding-top: 25%;
  }
}
@media (max-width: 550px) {
  .teamStats {
    border-bottom: thin solid;
    border-color: white;
  }
}

.teamImgs {
  min-width: 50px;
  min-height: 50px;
}

.nflSiteTextRaw {
  font-family: 'nflSiteText';
  font-weight: lighter;
}
.nflSiteText {
  font-family: 'nflSiteText';
  color: black;
  font-weight: lighter;
}
.lightText {
  color: slategray;
}
.timeText {
  font-family: 'popWarner';
}

.regularText {
  font-family: 'regularText';
}

.smallText {
  font-size: xx-small;
}

.gamblingLogo {
  max-width: 160px;
  min-width: 16.67%;
}
